{% extends "base.html" %} {% block container %}
<div>
    <a class="btn btn-success" href="{% url 'book-create' %}">+ Add New Book</a>
</div><br>
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ISBN</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="{% url 'book-detail' pk=book.id %}">{{book.name}}</a></td>
                <td>{{book.isbn_number}}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'book-update' pk=book.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'book-delete' pk=book.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %} {% include "book/_pagination.html" %} {% endif %} {% endblock %}